* 
{
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  text-align: center; 
  font-size: 19px;

}

h1 {
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 2.5em;
  }

  h2 {
  font-size: 1.3em;
  margin: 10px;
  }

.ovner-block { 
  display: flex;  
  margin: 0 auto;
  width: auto;
  min-height: 450px;
  background: #333
  url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  opacity: 0.8;
}

.inner-block {
  padding: 10px;
  width: 900px;
  color: white;
}

.flex-container1 {
 display: flex;  
 align-items: center;
}

.inner-main {
  padding: 10px;
  width: 900px;
  color: black;
}

.flex-container2 {
  display: flex;  
  align-items: center;
  width: 100%;
  margin: 0px;
 }

 .flex-container2 {
  display: flex;  
  align-items: center;
  color: black;
 }

 .section-b {
  align-items: stretch;
  background: #333333;
  width: 100%;
 }

 .card {
  background: #FFFFFF;
  width: 272px;
  padding: 0 0 10px;
  margin: 10px;
 }

 img {
  width: 272px;
  min-height: 181px;
 }

.card-content {
  padding: 0px 0px;
}
 
 .section-b ul {
  list-style: none;
  margin: 0;
  padding: 35px 17px 17px;
  display: flex;
 }
 
 .card-title {
  padding: 20px 0px;
 }

.section-c {
  display: flex;  
  align-items: center;
  width: 100%;
  color: black;
  padding: 0px;
}

.content-wrap {
  padding: 10px;
  width: 800px;
  color: black;
  position: center;
}

.section-d {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  color: white;
}

.box1 {
  width: 50%;
  padding: 20px;
  position: center;
  background: #2690D4;
}

.box2 {
  width: 50%;
  padding: 20px;
  position: center;
  background:#333333
}

.main-footer{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #000000;
  color: white;
  align-items: center;
}

.footer1{
  width: 50%;
}

.footer2{
  width: 50%;  
}

a {
  color: #2690d4;
  text-decoration: none;
}

p{
  padding: 10px;
  margin: 0 auto;
}